p{
 margin:6%;
}

#main {
	height:350px;
}

h2{
	text-align:center;
	margin:6%;
}

.listed{
	height:100px;
	width:80%;
	border:1px solid grey;
	
	
	
}
.bargraphic{
	
	height:100px;
	width:100%;
	object-fit:cover;
	object-position:0 0;
	
	
}